* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.4%;
}

body,
html {
    height: 100vh;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
}

#header, #footer {
    padding: .8rem;
    color: #fff;
}

button,
input[type=submit],
input[type=button] {
    display: inline-block;
    font-size: 1.8rem;
    padding: .5rem .7rem;
    cursor: pointer;
}

/* HEADER */

#header {
    background: linear-gradient(#003366, #006699);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header-logo * {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.8rem;
}

.header-logo img {
    margin: auto 0;
}

.header-logo span {
    font-size: 2.6rem;
    font-weight: bold;
}

.header-user_infos *,
#footer > * {
    display: block;
    margin-bottom: .8rem;
}

.header-user_infos span {
    text-align: right;
}

.header-user_infos button {
    margin-left: auto;
}

@media screen and (max-width: 430px) {
    .header-user_infos {
        margin-top: 1rem;
    }

    .header-user_infos span {
        text-align: left;
    }

    .header-user_infos button {
        margin-left: 0;
    }
}


/* NAV */

#navbar {
    background: #383838;
}

#navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#navbar li {
    list-style: none;
}

#navbar li + li {
    margin-left: 10px;
}

#navbar li a {
    font-size: 1.8rem;
    padding: 1.5rem 2rem;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    background: #383838;
    transition: .3s;
}

#navbar li a:hover {
    background: #242424;
}

/* NAVBAR - dropdown menu */

#navbar .dropdown {
    position: relative;
}

#navbar ul.dropdown-content {
    display: none;
}

#navbar .dropdown ul.dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    bottom: calc(-100% * 3);
    background: #383838;
    border-radius: 0 0 5px 5px;
}

#navbar .dropdown ul.dropdown-content.active {
    display: flex;
}

#navbar .dropdown a span {
    vertical-align: middle;
    display: inline-block;
    font-size: 1.4rem;
    transition: .3s;
}

#navbar .dropdown a.active_animation span.icon {
    transform: rotate(180deg);
}

#navbar .dropdown ul li {
    margin: 0;
    display: block;
    width: 100%;
}

#navbar .dropdown ul.dropdown-content a {
    display: block;
}


@media screen and (max-width: 730px) {
    #navbar ul {
        flex-direction: column;
    }

    #navbar li {
        margin: 0 0 1rem 0;
        display: block;
        width: 100%;
    }

    #navbar li + li {
        margin: 0;
    }

    #navbar li a {
        display: block;
    }

    #navbar .dropdown ul.dropdown-content {
        width: 100%;
        position: relative;
    }

    #navbar .dropdown ul.dropdown-content a {
        padding-left: 30px;
    }

    #navbar .dropdown ul.dropdown-content a::before {
        content: '-';
        margin-right: 10px;
    }
}

/* MAIN */

#content {
    background: linear-gradient(#cccccc, white);
    padding: 1.6rem;
}

/* FORM */

.form-container {
    width: fit-content;
    margin: 3rem auto;
}

.form-container .grid  {
    display: grid;
    align-items: center;
    grid-template-columns: max-content max-content;
    grid-gap: .5rem;
}

.form-container label::after {
    content: ':';
}

.form-container input:not(input[type=checkbox], input[type=submit], input[type=button]) {
    max-width: 300px;
    font-size: 1.8rem;
    padding: .2rem;
}

.form-container input:required:invalid,
.form-container select:required:invalid {
    border: 1px solid #E54;
}

.form-container input[type=submit],
.form-container input[type=button] {
    margin-top: 10px;
}

.form-container select {
    font-size: 1.8rem;
    padding: .2rem;
}

/* COMMANDS */

.alert-men {
    max-width: 900px;
    padding: 1rem;
    border: 1px solid currentColor;
    border-radius: 3px;
    margin: 0 auto 1rem auto;
    word-wrap: break-word;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    opacity: .9;
    display: none;
}

.alert-men.active {
    display: block;
}

.alert-men .icon {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.alert-men .icon span {
    background: currentColor;
    width: 11px;
    height: 3px;
    display: block;
    border-radius: 2px;
}

.alert-men .icon span:first-child {
    transform: translateY(10px) rotate(45deg);
}

.alert-men .icon span:last-child {
    transform: translateY(7px) rotate(-45deg);
}

.alert-men.error {
    color: rgb(190, 52, 37);
    background: #ffa89e;
}

.alert-men.success {
    color: #345337;
    background: #8bcf92;
}

#commands {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .8rem .3rem;
    border-bottom: 1px solid #003366;
    margin-bottom: 3rem;
}

#commands label {
    font-size: 2rem;
    margin-right: 10px;
}

#commands input {
    padding: .5rem;
    font-size: 1.8rem;
}

/* TABLE */

#content table {
    width: 100%;
    border-spacing: .3rem;
    margin: .8rem 0;
    overflow-x: auto;
    display: block;
}

#content table th {
    background-color: #003366;
    color: #fff;
}

#content table th,
#content table td {
    padding: .8rem;
}

#content tbody tr {
    cursor: pointer;
}

#content tbody tr td:last-child,
table td.fit {
    width: 1%;
    white-space: nowrap;
}

#content tbody tr:nth-child(odd) {
    background: #c6d4e2;
}

#content tbody tr:nth-child(even) {
    background: #dbe1e7;
}

#content tbody tr:hover {
    background: #ccc;
    transition: .2s ease;
}

#content tbody button {
    padding: 1rem 2rem;
    color: #333;
    font-size: 1.8rem;
    cursor: pointer;
    border: none;
}

#content tbody button.btn-edit {
    background: #5ea765;
    color: #f5f5f5;
}

#content tbody button.btn-delete {
    background: #E54;
    color: #f5f5f5;
}

#content tfoot td {
    border-top: 1px solid #003366;
    text-align: center;
}

/* FOOTER */

#footer {
    background: #003366;
    margin-top: auto;
}

#footer a {
    color: #fff;
}